@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body h2{
  font-family: 'Poppins', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  padding: 5px 10px;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 20px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;
}

.navbar img {
  width: 150px;
  height: auto;
  margin-left: 15px;
  margin-top: 10px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: teal;
  color: white;
}

.navbar-right {
  float: right;
  margin-right: 10px;
}

.wallpaper img {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .navbar-right {
    float: none;
  }
}

.main{
  display: flex;
}

.main img{
  margin-left: 200px;
  border-radius: 15px;
}

.description{
  margin-left: 20px;
  margin-right: 200px;
  line-height: 25px;
  text-align: justify;
}

.form{
  margin-left: 520px;
}

.form input{
  width: 300px;
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
}

.form textarea{
  width: 300px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
}

.form button{
  padding: 7px 15px;
  background-color: teal;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 115px;
}

.form button:hover {
  background-color: grey;
  transition: 0.2s;
  cursor: pointer;
}
.footer {
  padding: 30px;
  text-align: center;
  background: #ddd;
  font-size: 15dpx;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 450px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}